.one{
	font-size: 500%;
	color: purple;
	margin: 10px 10px 10px;
}
.two{
	margin: 10px 10px 10px; 
	font-size:300%;
	color: purple;
    }
.three{ 
 font-size: 450%;
 color: purple;
 margin: 10px 10px 10px; 
}
.four{ 
	font-size:250%;
	color: purple;
	margin: 10px 10px 10px ; 
}
#five{
	font-size: 300%;
}
form{
	border: 5px solid black;
}
.six{
 margin: 10px;
 size: 100%;
}
.seven{
	border: 5px solid black;
	font-size: 250%;
}
#A{
	margin-left: 50px;
	color: white;
	text-decoration: none;
}
#B{
	margin-left: 550px;
	color: white;
	text-decoration: none;
}
#C{
	margin-left: 550px;
	color: white;
	text-decoration: none;
}
#D{
	font-size: 350%;
	background-color: purple; 
	border: 35px solid purple;
	border-radius: 20px;
	padding: 5px;
	margin-right: 400px;
    margin-left: 400px;
    postion: fixed;
}

#A:hover{
	background-color: pink;
	color: purple;
}
#B:hover{
	background-color: pink;
	color: purple;
}
#C:hover{
	background-color: pink;
	color: purple;
}
